In [3]:
#install dependencies
import pandas as pd


#upload the csv file 
data = pd.read_csv('fake_job_postings.csv', index_col="job_id")


data.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [4]:
# Generate summary statistics
data.describe()

       telecommuting  has_company_logo  has_questions    fraudulent
count   17880.000000      17880.000000   17880.000000  17880.000000
mean        0.042897          0.795302       0.491723      0.048434
std         0.202631          0.403492       0.499945      0.214688
min         0.000000          0.000000       0.000000      0.000000
25%         0.000000          1.000000       0.000000      0.000000
50%         0.000000          1.000000       0.000000      0.000000
75%         0.000000          1.000000       1.000000      0.000000
max         1.000000          1.000000       1.000000      1.000000

In [5]:
#column names
data.columns

Index(['title', 'location', 'department', 'salary_range', 'company_profile',
       'description', 'requirements', 'benefits', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')

In [8]:
#rename the columns so that they are easier to read
renamed_data = data.rename(columns ={"title":"Title",
                                     "location":"Location",
                                     "department":"Department",
                                     "salary_range":"Salary Range",
                                     "company_profile":"Company Profile",
                                     "description": "Job Description",
                                     "requirements":"Requirements",
                                     "benefits":"Benefits",
                                     "telecommuting": "Remote Role",
                                     "has_company_logo":"Company Logo",
                                     "has_questions": "Questions Included",
                                     "employment_type":"Employment Type",
                                     "required_experience":"Required Experience",
                                     "required_education":"Required Education",
                                     "industry":"Industry",
                                     "function":"Function",
                                     "fraudulent": "Fraudulent"})

In [9]:
#show renamed column names
renamed_data.columns

Index(['Title', 'Location', 'Department', 'Salary Range', 'Company Profile',
       'Job Description', 'Requirements', 'Benefits', 'Remote Role',
       'Company Logo', 'Questions Included', 'Employment Type',
       'Required Experience', 'Required Education', 'Industry', 'Function',
       'Fraudulent'],
      dtype='object')

In [10]:
renamed_data.dtypes

Title                  object
Location               object
Department             object
Salary Range           object
Company Profile        object
Job Description        object
Requirements           object
Benefits               object
Remote Role             int64
Company Logo            int64
Questions Included      int64
Employment Type        object
Required Experience    object
Required Education     object
Industry               object
Function               object
Fraudulent              int64
dtype: object